
/* header section style*/

header .header-wrap{
	padding: 16px  50px;
}

/* banner section-style */

.banner-section .add-style{
	margin: -116px 0px 0 146px;
}
.image-holder{
	background-image: url(./media/team.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}